
*.pyc 
notebooks/*.ipynb
*/.ipynb_checkpoints/*

# dont ignore the specified notebooks 
!*/coefficient_of_variation.ipynb
!*/analysis_watershed.ipynb
!*/analysis_umap_wshed_plots.ipynb

.vscode/*
.venv
config.env
