
*.pyc 
notebooks/*.ipynb
*/.ipynb_checkpoints/*
data_temp/

# dont ignore the specified notebooks 
!*/coefficient_of_variation.ipynb
!*/analysis_watershed.ipynb
!*/analysis_umap_wshed_plots.ipynb

.vscode/*
.venv
.venv_2
config.env

.DS_Store
notebooks/*.pdf*

